<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Trading Analytics</h1>
</head>
<body>
    {{win_rate }}% <br>
    {{trade_amount}} <br>
    {{highest_win}} - {{highest_win_date}} <br>
    {{highest_loss}} - {{highest_loss_date}} <br>
    {{total_pnl}} <br>
    {{average_win}} <br>
    {{average_loss}} <br>
    {{win_loss_ratio}} <br>
    {{most_traded}} <br> 
    <a href="/home"><button type="button">Back</button></a>
    
</body>
</html>