<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>LOG IN</h1>
    <title>Log In</title>
</head>
<body>
    <form action="/submitlog" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="example@gmail.com"> <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="********"> <br>

    <button type="submit">Done</button>

    </form> 
</body>
</html>