<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>Add Your Trade</h1>
</head>
<body>
    <form action="/submit_trade" method="post">
        <label for="date">Date</label>
        <input type="date" name="date" id="date" required><br>

        <label for="symbol">Symbol</label>
        <input type="text" name="symbol" id="symbol" placeholder="Nasdaq 100" required><br>

        <p>Buy or Sell?</p>
        <label for="buy">Buy</label>
        <input type="radio" id="buy" name="buy_sell" value="buy" required>
        <label for="sell">Sell</label>
        <input type="radio" name="buy_sell" id="sell" value="sell" required> <br>



        <!-- Ar css palīdzību uztaisiju funkciju ,kas ,kad uzpiež uz "win" vai "loss" tad parādas ievades lauks ar attiecīgu "profit" vai "loss" ,kas tiks ievietots datubāzē -->
        <p>Win or Loss?</p>
    <input type="radio" name="win_loss" id="win" value="win" required>
    <label for="win">Win</label>
    
    <input type="radio" name="win_loss" id="loss" value="loss" required>
    <label for="loss">Loss</label><br>

    
    <div class="profit-container">
        <label for="profit">Profit €</label>
        <input type="number" name="profit" id="profit" >
    </div>

    
    <div class="deficit-container">
        <label for="deficit">Loss €</label>
        <input type="number" name="deficit" id="deficit">
    </div>
        

        <label for="risk">Risk </label>
        <input type="number" name="risk" id="risk" min="0.01" max="100" step="0.01" required>%<br>

        <label for="confidence">Confidence in trade <br><small>Gambling</small></label>
        <input type="range" name="confidence" id="confidence" min="1" max="5" required>
        <small>Hedge Fund</small><br>

        <label for="description">Description</label>
        <input type="text" id="description" name="description"><br>

        <button type="submit">Add</button>
    </form>

    <a href="/journal"><button type="button">Journal</button></a>
</body>
</html>