<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>Add Your Trade</h1>
    
</head>
<body>
<div class="form-container">
    <form action="/submit_trade" method="post" >
        <label for="date">Date</label>
        <input type="text" name="date" id="date" value="{{ year }}-{{ month }}-{{ day }}" readonly><br>
        
        
        <label for="symbol">Symbol</label>
        <input type="text" name="symbol" id="symbol" placeholder="Nasdaq 100" required><br>

        <!-- Ar css palīdzību uztaisiju funkciju ,kas ,kad uzpiež uz "win" vai "loss" tad parādas ievades lauks ar attiecīgu "profit" vai "loss" ,kas tiks ievietots datubāzē -->
        
        <div class="radio-group">
            <input type="radio" id="buy" name="buy_sell" value="Buy" required>
            <label for="buy">Buy</label>
        
            <input type="radio" id="sell" name="buy_sell" value="Sell" required>
            <label for="sell">Sell</label>
        </div>
        
        
        <div class="radio-group">
            <input type="radio" id="win" name="win_loss" value="win" >
            <label for="win">Win</label>
        
            <input type="radio" id="loss" name="win_loss" value="loss" >
            <label for="loss">Loss</label>
        
            
            <div class="profit-container">
                <label for="profit">Profit €</label>
                <input type="number" name="profit" id="profit" >
            </div>
        
            <div class="deficit-container">
                <label for="deficit">Loss €</label>
                <input type="number" name="deficit" id="deficit" >
            </div>
        </div>
        

        

        <label for="risk">Risk % </label>
        <input type="number" name="risk" id="risk" min="0.01" max="100" step="0.01" required><br>

        <label for="confidence">Confidence in trade</label>
        <div class="confidence-container">
            <small>Gambling</small>
            <input type="range" name="confidence" id="confidence" min="1" max="5" required>
            <small>Hedge Fund</small>
        </div>
        

        <label for="description">Description</label>
        <input type="text" id="description" name="description"><br>

        <button type="submit" id="utility">Add</button>
    </form>
</div>
   

{%if trades%}
    <table id="history"> 
        <caption><strong>Your trades from {{trades[0][0]}}</strong></caption>
        
            <tr>
                <th>Symbol</th>
                <th>Buy or Sell</th>
                <th>Win or Loss</th>
                <th>Profit&Loss</th>
                <th>Risk%</th>
                <th>Confidence 1-5</th>
                <th>Description</th>
                
            </tr>
        
            {%for trade in trades%}
            <tr>    
                
                
                <td>{{trade[1]}}</td>   
                <td>{{trade[2]}}</td>
                <td>{{trade[3]}}</td>
                <td>{{trade[4]}} €</td>
                <td>{{trade[5]}}</td>
                <td>{{trade[6]}}</td>
                <td>{{trade[7]}}</td>
                <form action="/delete" method="POST">
                    <td>
                        <input type="hidden" name="trade_id" value="{{trade[8]}}">
                        <input type="hidden" name = "date" value="{{trade[0]}}">
                        <button type="submit" id="remove_button">X</button>
                    </td>
                </form>
                    
            </tr>
            {%endfor%}
    </table>
{%else%}
    {##}
{%endif%}
    <a href="/journal" ><button type="button" id="utility">Back To Journal</button></a>
</body>
</html>





