#win:checked ~ #profit-loss-container #profit,
#win:checked ~ #profit-loss-container #profit-label {
  display: block;
}

#loss:checked ~ #profit-loss-container #deficit,
#loss:checked ~ #profit-loss-container #deficit-label {
  display: block;
}
p {
    font-family: verdana;
    font-size: 1px;
  }

body { background-color: red !important; }